<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h2 class="card-title mb-0">Create Issue:</h2>
  </div>

  <form #form="ngForm">
    <div class="card-body">
      <mat-form-field>
        <mat-label>Title:</mat-label>
        <input [(ngModel)]="newIssue.title" matInput name="issue-title" placeholder="Placeholder" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Content:</mat-label>
        <textarea [(ngModel)]="newIssue.text" matInput name="issue-text" required></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tags:</mat-label>
        <mat-chip-grid #chipGrid>
          <mat-chip-row (removed)="removeTag(tag)" *ngFor="let tag of newIssue.tags; trackBy: trackByFn">
            {{ tag }}
            <button [attr.aria-label]="'remove ' + tag" matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input
          #tagInput
          (matChipInputTokenEnd)="addTag($event)"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          placeholder="New Tag..."
        />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectTag($event)">
          <mat-option *ngFor="let tag of tagsList; trackBy: trackByFn" [value]="tag">
            {{ tag }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="card-footer">
      <div class="input-group d-flex justify-content-end">
        <button (click)="cancel()" color="accent" mat-raised-button type="button">Cancel</button>
        <button (click)="create()" [disabled]="form.invalid" color="primary" mat-raised-button type="submit">
          Create
        </button>
      </div>
    </div>
  </form>
</div>
